body{
    background-image: url(dumber\ png.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
h1{
    color: white;
    font-family: "press start 2p";
    border-top-style: groove;
    border-bottom-style: dashed;
    background: linear-gradient(to right, black,
     blue);
    background-attachment: fixed;
    margin-bottom: 50px;
    text-shadow: 0px 5px 5px green
}
h2{
    color: white;
    background: linear-gradient(to left, black,
     blue);
     background-attachment: fixed;
    
}
h3{
    color: blue;
    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
    font-size: 30px;
}
h3:hover{
    box-shadow: 5px 5px 5px green;
}
p{
    font-family: "cpnsolas";
    font-size: 20px;
    color: blue;
}
#p2{
    clear: both;
    color: blue;
}
img{

    border: solid;
    border-radius: 15px;
    border-color: blue;
    float: left;
    position: relative;
    top:  60px

}

.odd{
    color: black;
    font-family: "consolas", sans-serif;
    font-style: italic;
    background: linear-gradient(to right, black,
     blue);
     background-attachment: fixed;
   
}
.even{
    color: rgb(6, 252, 47);
    font-family: "press start 2p";
    font-weight: bold;
    text-decoration: wavy underline;
    font-size: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 3px;
    border-left-style: dotted;
    background: linear-gradient(to left, black,
     blue);
     background-attachment: fixed;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;


}
#box1{
    border: 4px solid;
    height: 250px;
    width: 250px;
    background-color: white;
    font-size: 225px;
    text-align: center;


   
    transform: matrix(1, 0, 0, 0, 0, 0,);
    animation: 3s linear 2s infinite running mycolor;

    /*
    animation: myslide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 5s;
    */
   

    /*
    so martrix is like the combination of xand y of translate skew scale
    scalex
    skewY
    skewX
    scaleY
    translateX
    translateY
    */ 

}

#box1:hover{
    animation: ;
}
#box1:active{
    
}


@keyframes myslide{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}
@keyframes myrotate{
    /*100%{transform: rotateX(360deg);}*/
    /*100%{transform: rotateY(360deg);}*/
    100%{transform: rotateZ(360deg);}
}
@keyframes myopacity{
    20%{opacity: 0;}
}
@keyframes myscale{
    50%{transform: scale(2, 0.5);}
}
@keyframes mycolor{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: yellow;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: purple;}
    100%{transform: rotateZ(180deg);}
}
    
#box2{
    border: 1px solid;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    font-size: 40;
    animation: 3s linear 2s infinite running mycolor;
   
}
#box3{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: white;
    
    

}
a:link{
    color: red;

}
a:visited{
    color: purple;
}
a:hover{
    color: white;
}
button{
    color: red;
}
button:hover{
    color: black;
}
button{
    background-color: blue;
}
li:nth-child(){
    background-color: blue;
}
li:nth-child(){
    background-color: rgb(49, 133, 0);
}
li:nth-child(3n+1){
    background-color: blue;
}
.fa-youtube{
    color: red;
    font-size: 40px;
    animation: 3s linear 2s infinite running mycolor;
    
}